In [1]:
#Load Libraries
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import linear_model
import statsmodels.api as sm
from sklearn import metrics
from sklearn import datasets
from sklearn.metrics import confusion_matrix
import seaborn as sn
%matplotlib inline
import re
from scipy.stats import zscore
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder

## Load data
## bond_ratings

In [84]:
bond_ratings_df = pd.read_csv('Hackathon_Files/external/bond_ratings.csv')
print(bond_ratings_df.shape)
bond_ratings_df.tail().transpose()

(25000, 12)

                        24995    24996      24997     24998     24999
bb_rating                 0.0      0.0      24.65       0.0       0.0
us_govt_bond_rating       0.0      0.0       0.00       0.0       0.0
below_b_rating            0.0      0.0       2.81       0.0       0.0
others_rating             0.0      0.0       4.00       0.0       0.0
maturity_bond             NaN      NaN       6.85       NaN       NaN
b_rating                  0.0      0.0      40.22       0.0       0.0
tag                  142001.0  40598.0  202562.00  144818.0  219275.0
a_rating                  0.0      0.0       3.42       0.0       0.0
aaa_rating                0.0      0.0      11.70       0.0       0.0
aa_rating                 0.0      0.0       0.42       0.0       0.0
bbb_rating                0.0      0.0      12.78       0.0       0.0
duration_bond             NaN      NaN       2.74       NaN       NaN

In [85]:
#Check for missing values
print(bond_ratings_df.isna().sum())

#Getting 5-point summary
bond_ratings_df.describe().transpose()

bb_rating                114
us_govt_bond_rating      114
below_b_rating           114
others_rating            114
maturity_bond          16907
b_rating                 114
tag                        0
a_rating                 114
aaa_rating               114
aa_rating                114
bbb_rating               114
duration_bond          15126
dtype: int64

,count,mean,std,min,25%,50%,75%,max
bb_rating,24886.0,3.473804,8.299747,0.00,0.00,0.00,2.450,80.47
us_govt_bond_rating,24886.0,0.000000,0.000000,0.00,0.00,0.00,0.000,0.00
below_b_rating,24886.0,0.827525,2.700019,-0.02,0.00,0.00,0.100,42.30
others_rating,24886.0,1.666769,6.885158,-68.21,0.00,0.00,0.330,100.00
maturity_bond,8093.0,7.765444,4.148558,0.00,5.46,7.29,8.920,29.30
b_rating,24886.0,3.234399,9.197164,-0.12,0.00,0.00,0.710,80.68
tag,25000.0,139878.934640,65731.287074,26000.00,83021.75,139881.50,196759.250,253763.00
a_rating,24886.0,5.054436,9.261811,0.00,0.00,0.00,8.340,72.87
aaa_rating,24886.0,14.558310,25.636838,-3.15,0.00,0.00,18.955,118.65
aa_rating,24886.0,4.209073,11.164511,-0.19,0.00,0.00,3.010,90.22
bbb_rating,24886.0,6.126260,10.597962,0.00,0.00,0.00,11.390,98.00
duration_bond,9874.0,4.643082,2.267122,-3.01,3.50,4.80,5.760,25.00

In [86]:
bond_ratings_df = bond_ratings_df.drop(['us_govt_bond_rating','maturity_bond','tag','duration_bond'], axis = 1)
#bond_ratings_df = bond_ratings_df.drop(['us_govt_bond_rating','tag'], axis = 1)
print(bond_ratings_df.shape)
bond_ratings_df.tail().transpose()

(25000, 8)

                24995  24996  24997  24998  24999
bb_rating         0.0    0.0  24.65    0.0    0.0
below_b_rating    0.0    0.0   2.81    0.0    0.0
others_rating     0.0    0.0   4.00    0.0    0.0
b_rating          0.0    0.0  40.22    0.0    0.0
a_rating          0.0    0.0   3.42    0.0    0.0
aaa_rating        0.0    0.0  11.70    0.0    0.0
aa_rating         0.0    0.0   0.42    0.0    0.0
bbb_rating        0.0    0.0  12.78    0.0    0.0

In [87]:
bond_ratings_df.fillna(bond_ratings_df.median(), inplace=True)

#bond_ratings_df.replace(0,bond_ratings_df.mean(), inplace=True)

print(bond_ratings_df.shape)
bond_ratings_df.tail().transpose()

(25000, 8)

                24995  24996  24997  24998  24999
bb_rating         0.0    0.0  24.65    0.0    0.0
below_b_rating    0.0    0.0   2.81    0.0    0.0
others_rating     0.0    0.0   4.00    0.0    0.0
b_rating          0.0    0.0  40.22    0.0    0.0
a_rating          0.0    0.0   3.42    0.0    0.0
aaa_rating        0.0    0.0  11.70    0.0    0.0
aa_rating         0.0    0.0   0.42    0.0    0.0
bbb_rating        0.0    0.0  12.78    0.0    0.0

In [88]:
#Check for missing values
print(bond_ratings_df.isna().sum())

#Getting 5-point summary
bond_ratings_df.describe().transpose()

bb_rating         0
below_b_rating    0
others_rating     0
b_rating          0
a_rating          0
aaa_rating        0
aa_rating         0
bbb_rating        0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
bb_rating,25000.0,3.457963,8.284109,0.00,0.0,0.0,2.4200,80.47
below_b_rating,25000.0,0.823751,2.694432,-0.02,0.0,0.0,0.1000,42.30
others_rating,25000.0,1.659168,6.870359,-68.21,0.0,0.0,0.3200,100.00
b_rating,25000.0,3.219650,9.178757,-0.12,0.0,0.0,0.7000,80.68
a_rating,25000.0,5.031388,9.246942,0.00,0.0,0.0,8.2775,72.87
aaa_rating,25000.0,14.491924,25.597117,-3.15,0.0,0.0,18.4200,118.65
aa_rating,25000.0,4.189880,11.142635,-0.19,0.0,0.0,2.9900,90.22
bbb_rating,25000.0,6.098324,10.581823,0.00,0.0,0.0,11.3400,98.00

## fund_allocations

In [89]:
fund_allocations_df = pd.read_csv('Hackathon_Files/external/fund_allocations.csv')
print(fund_allocations_df.shape)
fund_allocations_df.head().transpose()

(25000, 12)

,0,1,2,3,4
portfolio_communication_allocation,0.0,0.78,4.70,6.53,3.49
portfolio_financial_services,0.0,9.77,16.40,13.80,13.95
portfolio_industrials_allocation,0.0,9.97,11.45,10.91,10.51
portfolio_tech_allocation,0.0,35.51,25.09,0.16,19.26
portfolio_materials_basic_allocation,0.0,2.86,8.36,2.22,3.75
portfolio_energy_allocation,100.0,0.38,0.00,6.79,5.11
portfolio_consumer_defence_allocation,0.0,5.88,9.42,25.73,7.29
portfolio_healthcare_allocation,0.0,14.41,16.47,9.00,12.22
portfolio_property_allocation,0.0,2.67,1.03,0.00,10.41
id,67922.0,134783.00,61271.00,64412.00,184058.00
portfolio_utils_allocation,0.0,0.39,0.00,19.42,3.07
portfolio_cyclical_consumer_allocation,0.0,17.38,7.09,5.43,10.95

In [90]:
#Check for missing values
print(fund_allocations_df.isna().sum())

#Getting 5-point summary
fund_allocations_df.describe().transpose()

portfolio_communication_allocation        114
portfolio_financial_services              114
portfolio_industrials_allocation          114
portfolio_tech_allocation                 114
portfolio_materials_basic_allocation      114
portfolio_energy_allocation               114
portfolio_consumer_defence_allocation     114
portfolio_healthcare_allocation           114
portfolio_property_allocation             114
id                                          0
portfolio_utils_allocation                114
portfolio_cyclical_consumer_allocation    114
dtype: int64

,count,mean,std,min,25%,50%,75%,max
portfolio_communication_allocation,24886.0,2.272270,4.404629,0.0,0.00,1.180,3.41,100.0
portfolio_financial_services,24886.0,11.838126,12.286453,0.0,0.00,13.120,17.91,100.0
portfolio_industrials_allocation,24886.0,9.055996,10.170428,0.0,0.00,9.570,12.75,100.0
portfolio_tech_allocation,24886.0,12.780061,12.558221,0.0,0.00,12.885,19.65,100.0
portfolio_materials_basic_allocation,24886.0,3.898250,8.136322,0.0,0.00,2.790,5.06,100.0
portfolio_energy_allocation,24886.0,5.826646,13.687201,0.0,0.00,3.380,6.25,100.0
portfolio_consumer_defence_allocation,24886.0,5.111333,6.078521,0.0,0.00,4.840,7.88,100.0
portfolio_healthcare_allocation,24886.0,8.536916,9.618490,0.0,0.00,9.370,13.56,100.0
portfolio_property_allocation,24886.0,4.926447,13.855415,0.0,0.00,1.550,4.44,100.0
id,25000.0,139878.934640,65731.287074,26000.0,83021.75,139881.500,196759.25,253763.0
portfolio_utils_allocation,24886.0,2.761792,7.594429,0.0,0.00,0.430,3.34,100.0
portfolio_cyclical_consumer_allocation,24886.0,9.211606,9.700984,0.0,0.00,10.460,13.21,100.0

In [91]:
fund_allocations_df = fund_allocations_df.drop(['id'], axis = 1)
print(fund_allocations_df.shape)
fund_allocations_df.tail().transpose()

(25000, 11)

                                        24995  24996  24997  24998  24999
portfolio_communication_allocation       6.53   3.70   1.17   2.21   0.04
portfolio_financial_services            21.00  18.83   8.71  19.92  20.62
portfolio_industrials_allocation         7.42  10.10  14.03  12.55  15.29
portfolio_tech_allocation               10.67  19.32   6.89  14.62  19.87
portfolio_materials_basic_allocation     3.00   3.40   5.52   0.00   7.78
portfolio_energy_allocation              9.73   5.80   8.91   0.00   2.97
portfolio_consumer_defence_allocation    7.12   8.83   2.49   3.27   8.60
portfolio_healthcare_allocation         13.92  10.97   4.84  25.31  10.80
portfolio_property_allocation            4.59   4.75  28.24   0.00   0.00
portfolio_utils_allocation               7.06   2.40  12.64   0.00   0.00
portfolio_cyclical_consumer_allocation   8.96  11.90   6.56  22.12  14.05

In [92]:
fund_allocations_df.fillna(fund_allocations_df.median(), inplace=True)

print(fund_allocations_df.shape)
fund_allocations_df.tail().transpose()

(25000, 11)

                                        24995  24996  24997  24998  24999
portfolio_communication_allocation       6.53   3.70   1.17   2.21   0.04
portfolio_financial_services            21.00  18.83   8.71  19.92  20.62
portfolio_industrials_allocation         7.42  10.10  14.03  12.55  15.29
portfolio_tech_allocation               10.67  19.32   6.89  14.62  19.87
portfolio_materials_basic_allocation     3.00   3.40   5.52   0.00   7.78
portfolio_energy_allocation              9.73   5.80   8.91   0.00   2.97
portfolio_consumer_defence_allocation    7.12   8.83   2.49   3.27   8.60
portfolio_healthcare_allocation         13.92  10.97   4.84  25.31  10.80
portfolio_property_allocation            4.59   4.75  28.24   0.00   0.00
portfolio_utils_allocation               7.06   2.40  12.64   0.00   0.00
portfolio_cyclical_consumer_allocation   8.96  11.90   6.56  22.12  14.05

In [93]:
#Check for missing values
print(fund_allocations_df.isna().sum())

#Getting 5-point summary
fund_allocations_df.describe().transpose()

portfolio_communication_allocation        0
portfolio_financial_services              0
portfolio_industrials_allocation          0
portfolio_tech_allocation                 0
portfolio_materials_basic_allocation      0
portfolio_energy_allocation               0
portfolio_consumer_defence_allocation     0
portfolio_healthcare_allocation           0
portfolio_property_allocation             0
portfolio_utils_allocation                0
portfolio_cyclical_consumer_allocation    0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
portfolio_communication_allocation,25000.0,2.267289,4.395191,0.0,0.0,1.180,3.4000,100.0
portfolio_financial_services,25000.0,11.843972,12.258711,0.0,0.0,13.120,17.9000,100.0
portfolio_industrials_allocation,25000.0,9.058340,10.147271,0.0,0.0,9.570,12.7300,100.0
portfolio_tech_allocation,25000.0,12.780539,12.529556,0.0,0.0,12.885,19.5900,100.0
portfolio_materials_basic_allocation,25000.0,3.893197,8.118093,0.0,0.0,2.790,5.0500,100.0
portfolio_energy_allocation,25000.0,5.815490,13.656952,0.0,0.0,3.380,6.2225,100.0
portfolio_consumer_defence_allocation,25000.0,5.110096,6.064673,0.0,0.0,4.840,7.8700,100.0
portfolio_healthcare_allocation,25000.0,8.540715,9.596698,0.0,0.0,9.370,13.5500,100.0
portfolio_property_allocation,25000.0,4.911050,13.825659,0.0,0.0,1.550,4.4325,100.0
portfolio_utils_allocation,25000.0,2.751159,7.578721,0.0,0.0,0.430,3.3400,100.0
portfolio_cyclical_consumer_allocation,25000.0,9.217298,9.679205,0.0,0.0,10.460,13.2000,100.0

## fund_config

In [94]:
fund_config_df = pd.read_csv('Hackathon_Files/external/fund_config.csv')
print(fund_config_df.shape)
fund_config_df.tail().transpose()

(25000, 4)

,24995,24996,24997,24998,24999
category,Large Value,World Large Stock,Allocation - 30% to 50% Equity,Mid-Cap Blend,Foreign Large Growth
parent_company,Federated,AllianceBernstein,OppenheimerFunds,Miller Value Funds,DWS
fund_id,c3d73c76-6b0c-4ee4-b562-e9bff53e4c8c,12fc8949-6563-4dd4-a7cc-0400131fa6ab,7fe4b63a-c42e-4c2b-a59b-d29ade57ecfd,65421547-1407-4c50-92dc-e1cb1e9972dd,e0284aeb-630a-4499-8745-2a9abba49528
fund_name,"Federated Equity Income Fund, Inc. Class A Shares",AB Tax-Managed Wealth Appreciation Strategy Cl...,Oppenheimer Global Multi-Asset Income Fund Cla...,Miller Opportunity Trust Class I,DWS International Growth Fund - Class C

In [95]:
cols = fund_config_df.columns
print(cols.values)

#Check for missing values
print(fund_config_df.isna().sum())

['category' 'parent_company' 'fund_id' 'fund_name']
category          0
parent_company    0
fund_id           0
fund_name         0
dtype: int64

In [96]:
fund_config_df.dtypes

category          object
parent_company    object
fund_id           object
fund_name         object
dtype: object

## fund_ratios

In [97]:
fund_ratios_df = pd.read_csv('Hackathon_Files/external/fund_ratios.csv')
print(fund_ratios_df.shape)
fund_ratios_df.tail().transpose()

(25000, 8)

,24995,24996,24997,24998,24999
fund_id,c3d73c76-6b0c-4ee4-b562-e9bff53e4c8c,12fc8949-6563-4dd4-a7cc-0400131fa6ab,7fe4b63a-c42e-4c2b-a59b-d29ade57ecfd,65421547-1407-4c50-92dc-e1cb1e9972dd,e0284aeb-630a-4499-8745-2a9abba49528
tag,142001,40598,202562,144818,219275
fund_ratio_net_annual_expense,1.12,1.02,0.95,1.1,1.97
pb_ratio,1.78,1.94,1.52,0.98,2.38
ps_ratio,1.11,1.36,1.5,0.86,1.63
mmc,"45,619.69","37,550.75","7,378.47","14,859.2","35,795.28"
pc_ratio,8.64,7.61,4.63,3.8,11.55
pe_ratio,11.3,14.3,14.49,7.89,17.8

In [98]:
#Check for missing values
print(fund_ratios_df.isna().sum())

#Getting 5-point summary
fund_ratios_df.describe().transpose()

fund_id                            0
tag                                0
fund_ratio_net_annual_expense      0
pb_ratio                         114
ps_ratio                         114
mmc                              114
pc_ratio                         114
pe_ratio                         114
dtype: int64

,count,mean,std,min,25%,50%,75%,max
tag,25000.0,139878.934640,65731.287074,26000.0,83021.75,139881.50,196759.25,253763.00
fund_ratio_net_annual_expense,25000.0,1.121677,0.609215,0.0,0.72,1.01,1.44,15.17
pb_ratio,24886.0,1.854262,2.984248,0.0,0.56,1.85,2.38,123.30

In [99]:
# save for later
fund_id = fund_ratios_df['fund_id']

In [100]:
fund_ratios_df = fund_ratios_df.drop(['fund_id','tag'], axis = 1)
print(fund_ratios_df.shape)
fund_ratios_df.head().transpose()

(25000, 6)

,0,1,2,3,4
fund_ratio_net_annual_expense,1.44,0.58,0.99,0.52,0.75
pb_ratio,1.71,5.3,5.4,2.23,2.02
ps_ratio,1.31,3.38,3.67,1.63,1.4
mmc,"19,857.41","72,347.03","68,857.43","43,266.62","43,747.9"
pc_ratio,5.91,15.95,15.97,8.93,7.59
pe_ratio,14.51,18.88,23.27,12.7,14.74

In [101]:
fund_ratios_df = fund_ratios_df.replace({'\"': '', ',': ''}, regex=True).astype(float)

In [102]:
fund_ratios_df.head().transpose()

,0,1,2,3,4
fund_ratio_net_annual_expense,1.44,0.58,0.99,0.52,0.75
pb_ratio,1.71,5.30,5.40,2.23,2.02
ps_ratio,1.31,3.38,3.67,1.63,1.40
mmc,19857.41,72347.03,68857.43,43266.62,43747.90
pc_ratio,5.91,15.95,15.97,8.93,7.59
pe_ratio,14.51,18.88,23.27,12.70,14.74

In [103]:
fund_ratios_df.fillna(fund_ratios_df.median(), inplace=True)

print(fund_ratios_df.shape)
fund_ratios_df.tail().transpose()

(25000, 6)

                                  24995     24996    24997     24998     24999
fund_ratio_net_annual_expense      1.12      1.02     0.95      1.10      1.97
pb_ratio                           1.78      1.94     1.52      0.98      2.38
ps_ratio                           1.11      1.36     1.50      0.86      1.63
mmc                            45619.69  37550.75  7378.47  14859.20  35795.28
pc_ratio                           8.64      7.61     4.63      3.80     11.55
pe_ratio                          11.30     14.30    14.49      7.89     17.80

In [104]:
#Check for missing values
print(fund_ratios_df.isna().sum())

#Getting 5-point summary
fund_ratios_df.describe().transpose()

fund_ratio_net_annual_expense    0
pb_ratio                         0
ps_ratio                         0
mmc                              0
pc_ratio                         0
pe_ratio                         0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
fund_ratio_net_annual_expense,25000.0,1.121677,0.609215,0.0,0.72,1.01,1.44,15.17
pb_ratio,25000.0,1.854243,2.977436,0.0,0.56,1.85,2.37,123.30
ps_ratio,25000.0,1.737025,30.519425,0.0,0.36,1.29,1.80,2777.78
mmc,25000.0,28144.367454,33541.623808,0.0,621.29,16974.33,42700.89,363960.31
pc_ratio,25000.0,17.342863,456.888503,0.0,0.62,6.97,8.93,20000.00
pe_ratio,25000.0,13.463097,45.208640,0.0,4.84,13.98,16.45,1694.92

In [105]:
fund_ratios_df.dtypes

fund_ratio_net_annual_expense    float64
pb_ratio                         float64
ps_ratio                         float64
mmc                              float64
pc_ratio                         float64
pe_ratio                         float64
dtype: object

## fund_specs

In [106]:
fund_specs_df = pd.read_csv('Hackathon_Files/external/fund_specs.csv')
print(fund_specs_df.shape)
fund_specs_df.tail().transpose()

(25000, 9)

                        24995       24996       24997       24998       24999
investment_class        Value       Blend       Blend       Value      Growth
currency                  USD         USD         USD         USD         USD
total_assets       9.4181e+08  7.0908e+08   8.778e+07    1.52e+09  5.3871e+08
yield                     1.8        1.03        5.08           0        0.22
greatstone_rating           1         NaN           1         NaN         NaN
inception_date     1986-12-29  2003-09-01  2014-11-30  2000-06-25  2001-06-17
tag                    142001       40598      202562      144818      219275
fund_size               Large       Large      Medium      Medium       Large
return_ytd              10.31       11.88        7.29       13.74       14.81

In [107]:
#Check for missing values
print(fund_specs_df.isna().sum())

#Getting 5-point summary
fund_specs_df.describe().transpose()

investment_class     1480
currency                0
total_assets          119
yield                 127
greatstone_rating    5000
inception_date          0
tag                     0
fund_size            1480
return_ytd            108
dtype: int64

,count,mean,std,min,25%,50%,75%,max
total_assets,24881.0,3.476451e+09,1.827507e+10,19160.0,93030000.00,4.417900e+08,1.620000e+09,7.727200e+11
yield,24873.0,1.850446e+00,1.804311e+00,0.0,0.48,1.650000e+00,2.640000e+00,4.536000e+01
greatstone_rating,20000.0,2.839750e+00,1.277439e+00,0.0,2.00,3.000000e+00,4.000000e+00,5.000000e+00
tag,25000.0,1.398789e+05,6.573129e+04,26000.0,83021.75,1.398815e+05,1.967592e+05,2.537630e+05
return_ytd,24892.0,9.288884e+00,5.801027e+00,-36.3,4.43,9.820000e+00,1.308000e+01,4.629000e+01

In [108]:
# save for later
greatstone_rating = fund_specs_df['greatstone_rating']

In [109]:
fund_specs_df = fund_specs_df.drop(['investment_class','currency','greatstone_rating','inception_date','tag','fund_size'], axis = 1)
print(fund_specs_df.shape)
fund_specs_df.tail().transpose()

(25000, 3)

,24995,24996,24997,24998,24999
total_assets,9.418100e+08,7.090800e+08,87780000.00,1.520000e+09,5.387100e+08
yield,1.800000e+00,1.030000e+00,5.08,0.000000e+00,2.200000e-01
return_ytd,1.031000e+01,1.188000e+01,7.29,1.374000e+01,1.481000e+01

In [110]:
fund_specs_df.fillna(fund_specs_df.median(), inplace=True)

fund_specs_df = fund_specs_df.astype(float)
print(fund_specs_df.shape)
fund_specs_df.tail().transpose()

(25000, 3)

,24995,24996,24997,24998,24999
total_assets,9.418100e+08,7.090800e+08,87780000.00,1.520000e+09,5.387100e+08
yield,1.800000e+00,1.030000e+00,5.08,0.000000e+00,2.200000e-01
return_ytd,1.031000e+01,1.188000e+01,7.29,1.374000e+01,1.481000e+01

In [111]:
#Check for missing values
print(fund_specs_df.isna().sum())

#Getting 5-point summary
fund_specs_df.describe().transpose()

total_assets    0
yield           0
return_ytd      0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
total_assets,25000.0,3.462006e+09,1.823272e+10,19160.0,94070000.00,4.417900e+08,1.620000e+09,7.727200e+11
yield,25000.0,1.849428e+00,1.799779e+00,0.0,0.48,1.650000e+00,2.640000e+00,4.536000e+01
return_ytd,25000.0,9.291179e+00,5.788587e+00,-36.3,4.48,9.820000e+00,1.306000e+01,4.629000e+01

In [112]:
fund_specs_df.dtypes

total_assets    float64
yield           float64
return_ytd      float64
dtype: object

## other_specs

In [113]:
other_specs_df = pd.read_csv('Hackathon_Files/external/other_specs.csv')
print(other_specs_df.shape)
other_specs_df.tail().transpose()

(25000, 43)

,24995,24996,24997,24998,24999
2014_category_return,10.21,2.79,NaN,7.8,-3.92
2012_return_category,14.57,15.84,NaN,16.15,17.7
years_up,23,11,2,13,10
2018_return_category,-8.53,-9.64,-5.04,-11.15,-14.08
tag,142001,40598,202562,144818,219275
category_return_1year,4.48,1.85,3.03,2.33,-3.2
cash_percent_of_portfolio,0.44,1.1,11.15,0,1
pc_ratio,8.64,7.61,4.63,3.8,11.55
2011_return_category,-0.75,-7.93,NaN,-3.81,-12.3
ytd_return_fund,10.31,11.88,7.29,13.74,14.81
years_down,9,4,2,5,7
2014_return_fund,7.94,4.75,NaN,11.23,-2.64
category_return_1month,0.46,1.11,1.16,-0.22,1.97
2013_return_fund,31.6,26.48,NaN,68.45,24.9
fund_return_3months,10.31,11.88,7.29,13.74,14.81
ytd_return_category,11.29,12.27,7.13,13.94,13
pb_ratio,1.78,1.94,1.52,0.98,2.38
2017_category_return,15.94,23.61,9.86,15.93,30.87
1_year_return_fund,-1.72,1,0.95,5.5,-3.06
pe_ratio,11.3,14.3,14.49,7.89,17.8
2015_return_fund,-5.43,-0.92,-3.5,0.74,-2.64
portfolio_convertable,0,0,2.2,0,0
3_months_return_category,11.29,12.27,7.13,13.94,13
portfolio_others,0,0.03,20.62,1.01,0.92
2016_return_fund,9.49,4.88,9.36,0.1,-0.74
mmc,"45,619.69","37,550.75","7,378.47","14,859.2","35,795.28"
stock_percent_of_portfolio,95.54,98.87,18.54,98.99,96.48
2016_return_category,14.81,5.54,6.62,14.14,-2.14
ps_ratio,1.11,1.36,1.5,0.86,1.63
2011_return_fund,7.46,-8.44,NaN,-34.15,-15.66
2010_return_fund,11.73,9.48,NaN,17.75,12.55
fund_return_3years,8.23,9.39,4,13.55,5.54
2012_fund_return,11.25,13.94,NaN,41.15,16.99
2018_return_fund,-11.69,-9.89,-7.61,-9.53,-17.7
2017_return_fund,16.06,22.78,6.29,26.21,24.18
greatstone_rating,1,NaN,1,NaN,NaN
category_ratio_net_annual_expense,1,1.11,0.79,1.06,1.13
category_return_2015,-4.05,-1.69,-2.32,-4.75,0.95
1_month_fund_return,-0.22,0.85,1.23,-4.96,1.75
bond_percentage_of_porfolio,4.01,0,43.11,0,0
portfolio_preferred,0,0,4.29,0,1.6
2010_return_category,13.66,13.74,NaN,22.52,14.78
2013_category_return,31.21,25.19,NaN,34.1,18.58

In [114]:
#Check for missing values
print(other_specs_df.isna().sum())

#Getting 5-point summary
other_specs_df.describe().transpose()

2014_category_return                  6183
2012_return_category                  9124
years_up                              1812
2018_return_category                   809
tag                                      0
category_return_1year                  115
cash_percent_of_portfolio              114
pc_ratio                               114
2011_return_category                 10533
ytd_return_fund                        115
years_down                            1641
2014_return_fund                      7206
category_return_1month                 115
2013_return_fund                      8538
fund_return_3months                    115
ytd_return_category                    115
pb_ratio                               114
2017_category_return                  1428
1_year_return_fund                     115
pe_ratio                               114
2015_return_fund                      5688
portfolio_convertable                  114
3_months_return_category               115
portfolio_others                       114
2016_return_fund                      3931
mmc                                    114
stock_percent_of_portfolio             114
2016_return_category                  3097
ps_ratio                               114
2011_return_fund                     11163
2010_return_fund                     12262
fund_return_3years                     115
2012_fund_return                      9985
2018_return_fund                       940
2017_return_fund                      2551
greatstone_rating                     5000
category_ratio_net_annual_expense        0
category_return_2015                  4601
1_month_fund_return                    115
bond_percentage_of_porfolio            114
portfolio_preferred                    114
2010_return_category                 11538
2013_category_return                  7637
dtype: int64

,count,mean,std,min,25%,50%,75%,max
2014_category_return,18817.0,4.677046,6.225088,-17.98,1.5400,5.040,9.31,44.59
2012_return_category,15876.0,12.411046,5.815421,-23.70,9.0100,14.570,15.46,31.78
years_up,23188.0,8.419312,6.967322,1.00,3.0000,7.000,12.00,70.00
2018_return_category,24191.0,-6.486223,5.420223,-27.27,-9.2700,-6.250,-2.09,7.19
tag,25000.0,139878.934640,65731.287074,26000.00,83021.7500,139881.500,196759.25,253763.00
category_return_1year,24885.0,2.736506,5.026465,-10.92,0.6600,3.070,4.52,17.48
cash_percent_of_portfolio,24886.0,7.381846,12.899732,0.00,1.2400,3.140,7.04,100.00
2011_return_category,14467.0,-1.864729,7.191954,-35.50,-4.0700,-2.060,2.01,32.90
ytd_return_fund,24885.0,9.289783,5.797707,-36.30,4.4300,9.820,13.08,46.29
years_down,23359.0,3.242519,2.322739,1.00,1.0000,3.000,4.00,28.00
2014_return_fund,17794.0,5.096883,7.426593,-42.40,1.4200,5.200,9.20,63.80
category_return_1month,24885.0,0.870865,1.206099,-3.49,0.4600,1.110,1.38,9.68
2013_return_fund,16462.0,17.148866,17.116954,-67.62,0.8400,18.590,31.69,116.38
fund_return_3months,24885.0,9.168927,5.789936,-36.30,4.1600,9.720,13.02,46.29
ytd_return_category,24885.0,9.168690,4.999682,-17.38,5.0200,10.240,12.94,20.95
pb_ratio,24886.0,1.854262,2.984248,0.00,0.5600,1.850,2.38,123.30
2017_category_return,23572.0,14.847964,9.648500,-27.04,6.2500,14.670,21.50,46.78
1_year_return_fund,24885.0,2.606174,6.694062,-37.09,-0.0600,3.100,5.12,59.19
2015_return_fund,19312.0,-1.957244,6.359153,-62.11,-3.8100,-1.160,1.04,86.62
portfolio_convertable,24886.0,0.570972,4.827284,0.00,0.0000,0.000,0.07,98.86
3_months_return_category,24885.0,9.168690,4.999682,-17.38,5.0200,10.240,12.94,20.95
portfolio_others,24886.0,1.055792,4.447797,0.00,0.0000,0.000,0.28,98.84
2016_return_fund,21069.0,7.287792,8.171125,-62.92,2.0700,6.320,10.85,80.10
stock_percent_of_portfolio,24886.0,59.121655,42.250565,0.00,0.5225,82.650,97.60,100.00
2016_return_category,21903.0,7.285268,6.794140,-21.11,3.2300,6.230,10.37,54.81
2011_return_fund,13837.0,-1.336527,8.407139,-43.78,-5.3300,-0.520,4.04,55.81
2010_return_fund,12738.0,13.603278,8.966626,-51.55,8.2100,13.070,18.15,54.50
fund_return_3years,24885.0,6.999167,5.460445,-36.02,2.8100,6.820,10.21,38.42
2012_fund_return,15015.0,12.898107,7.124944,-43.90,8.8900,13.490,16.84,81.66
2018_return_fund,24060.0,-6.686791,6.681542,-59.10,-10.5200,-5.795,-1.62,39.47
2017_return_fund,22449.0,15.156165,11.178806,-96.22,6.2700,14.130,21.78,105.73
greatstone_rating,20000.0,2.839750,1.277439,0.00,2.0000,3.000,4.00,5.00
category_ratio_net_annual_expense,25000.0,1.013535,0.329003,0.39,0.8100,1.020,1.18,2.60
category_return_2015,20399.0,-2.252970,4.999291,-34.98,-4.0100,-1.690,-0.26,11.97
1_month_fund_return,24885.0,0.961685,1.694348,-13.63,0.3500,1.100,1.72,15.29
bond_percentage_of_porfolio,24886.0,30.781998,38.686645,0.00,0.0000,2.170,64.06,100.00
portfolio_preferred,24886.0,0.312516,2.150776,0.00,0.0000,0.000,0.01,80.87
2010_return_category,13462.0,13.155126,7.659462,-28.95,8.6000,13.660,15.53,41.56
2013_category_return,17363.0,16.400532,15.949795,-48.80,0.4500,18.580,31.50,48.17

In [115]:
other_specs_df = other_specs_df.drop(['tag','greatstone_rating','pb_ratio','ps_ratio','pc_ratio','pe_ratio'], axis = 1)
print(other_specs_df.shape)
other_specs_df.tail().transpose()

(25000, 37)

,24995,24996,24997,24998,24999
2014_category_return,10.21,2.79,NaN,7.8,-3.92
2012_return_category,14.57,15.84,NaN,16.15,17.7
years_up,23,11,2,13,10
2018_return_category,-8.53,-9.64,-5.04,-11.15,-14.08
category_return_1year,4.48,1.85,3.03,2.33,-3.2
cash_percent_of_portfolio,0.44,1.1,11.15,0,1
2011_return_category,-0.75,-7.93,NaN,-3.81,-12.3
ytd_return_fund,10.31,11.88,7.29,13.74,14.81
years_down,9,4,2,5,7
2014_return_fund,7.94,4.75,NaN,11.23,-2.64
category_return_1month,0.46,1.11,1.16,-0.22,1.97
2013_return_fund,31.6,26.48,NaN,68.45,24.9
fund_return_3months,10.31,11.88,7.29,13.74,14.81
ytd_return_category,11.29,12.27,7.13,13.94,13
2017_category_return,15.94,23.61,9.86,15.93,30.87
1_year_return_fund,-1.72,1,0.95,5.5,-3.06
2015_return_fund,-5.43,-0.92,-3.5,0.74,-2.64
portfolio_convertable,0,0,2.2,0,0
3_months_return_category,11.29,12.27,7.13,13.94,13
portfolio_others,0,0.03,20.62,1.01,0.92
2016_return_fund,9.49,4.88,9.36,0.1,-0.74
mmc,"45,619.69","37,550.75","7,378.47","14,859.2","35,795.28"
stock_percent_of_portfolio,95.54,98.87,18.54,98.99,96.48
2016_return_category,14.81,5.54,6.62,14.14,-2.14
2011_return_fund,7.46,-8.44,NaN,-34.15,-15.66
2010_return_fund,11.73,9.48,NaN,17.75,12.55
fund_return_3years,8.23,9.39,4,13.55,5.54
2012_fund_return,11.25,13.94,NaN,41.15,16.99
2018_return_fund,-11.69,-9.89,-7.61,-9.53,-17.7
2017_return_fund,16.06,22.78,6.29,26.21,24.18
category_ratio_net_annual_expense,1,1.11,0.79,1.06,1.13
category_return_2015,-4.05,-1.69,-2.32,-4.75,0.95
1_month_fund_return,-0.22,0.85,1.23,-4.96,1.75
bond_percentage_of_porfolio,4.01,0,43.11,0,0
portfolio_preferred,0,0,4.29,0,1.6
2010_return_category,13.66,13.74,NaN,22.52,14.78
2013_category_return,31.21,25.19,NaN,34.1,18.58

In [116]:
other_specs_df = other_specs_df.replace({'\"': '', ',': ''}, regex=True).astype(float)

In [117]:
other_specs_df.fillna(other_specs_df.median(), inplace=True)

print(other_specs_df.shape)
other_specs_df.tail().transpose()

(25000, 37)

,24995,24996,24997,24998,24999
2014_category_return,10.21,2.79,5.04,7.80,-3.92
2012_return_category,14.57,15.84,14.57,16.15,17.70
years_up,23.00,11.00,2.00,13.00,10.00
2018_return_category,-8.53,-9.64,-5.04,-11.15,-14.08
category_return_1year,4.48,1.85,3.03,2.33,-3.20
cash_percent_of_portfolio,0.44,1.10,11.15,0.00,1.00
2011_return_category,-0.75,-7.93,-2.06,-3.81,-12.30
ytd_return_fund,10.31,11.88,7.29,13.74,14.81
years_down,9.00,4.00,2.00,5.00,7.00
2014_return_fund,7.94,4.75,5.20,11.23,-2.64
category_return_1month,0.46,1.11,1.16,-0.22,1.97
2013_return_fund,31.60,26.48,18.59,68.45,24.90
fund_return_3months,10.31,11.88,7.29,13.74,14.81
ytd_return_category,11.29,12.27,7.13,13.94,13.00
2017_category_return,15.94,23.61,9.86,15.93,30.87
1_year_return_fund,-1.72,1.00,0.95,5.50,-3.06
2015_return_fund,-5.43,-0.92,-3.50,0.74,-2.64
portfolio_convertable,0.00,0.00,2.20,0.00,0.00
3_months_return_category,11.29,12.27,7.13,13.94,13.00
portfolio_others,0.00,0.03,20.62,1.01,0.92
2016_return_fund,9.49,4.88,9.36,0.10,-0.74
mmc,45619.69,37550.75,7378.47,14859.20,35795.28
stock_percent_of_portfolio,95.54,98.87,18.54,98.99,96.48
2016_return_category,14.81,5.54,6.62,14.14,-2.14
2011_return_fund,7.46,-8.44,-0.52,-34.15,-15.66
2010_return_fund,11.73,9.48,13.07,17.75,12.55
fund_return_3years,8.23,9.39,4.00,13.55,5.54
2012_fund_return,11.25,13.94,13.49,41.15,16.99
2018_return_fund,-11.69,-9.89,-7.61,-9.53,-17.70
2017_return_fund,16.06,22.78,6.29,26.21,24.18
category_ratio_net_annual_expense,1.00,1.11,0.79,1.06,1.13
category_return_2015,-4.05,-1.69,-2.32,-4.75,0.95
1_month_fund_return,-0.22,0.85,1.23,-4.96,1.75
bond_percentage_of_porfolio,4.01,0.00,43.11,0.00,0.00
portfolio_preferred,0.00,0.00,4.29,0.00,1.60
2010_return_category,13.66,13.74,13.66,22.52,14.78
2013_category_return,31.21,25.19,18.58,34.10,18.58

In [118]:
#Check for missing values
print(other_specs_df.isna().sum())

#Getting 5-point summary
other_specs_df.describe().transpose()

2014_category_return                 0
2012_return_category                 0
years_up                             0
2018_return_category                 0
category_return_1year                0
cash_percent_of_portfolio            0
2011_return_category                 0
ytd_return_fund                      0
years_down                           0
2014_return_fund                     0
category_return_1month               0
2013_return_fund                     0
fund_return_3months                  0
ytd_return_category                  0
2017_category_return                 0
1_year_return_fund                   0
2015_return_fund                     0
portfolio_convertable                0
3_months_return_category             0
portfolio_others                     0
2016_return_fund                     0
mmc                                  0
stock_percent_of_portfolio           0
2016_return_category                 0
2011_return_fund                     0
2010_return_fund                     0
fund_return_3years                   0
2012_fund_return                     0
2018_return_fund                     0
2017_return_fund                     0
category_ratio_net_annual_expense    0
category_return_2015                 0
1_month_fund_return                  0
bond_percentage_of_porfolio          0
portfolio_preferred                  0
2010_return_category                 0
2013_category_return                 0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
2014_category_return,25000.0,4.766812,5.402942,-17.98,2.7900,5.040,6.7700,44.59
2012_return_category,25000.0,13.198978,4.749349,-23.70,13.0300,14.570,14.9600,31.78
years_up,25000.0,8.316440,6.720151,1.00,3.0000,7.000,12.0000,70.00
2018_return_category,25000.0,-6.478579,5.331963,-27.27,-8.8800,-6.250,-2.0900,7.19
category_return_1year,25000.0,2.738040,5.014941,-10.92,0.6600,3.070,4.5200,17.48
cash_percent_of_portfolio,25000.0,7.362503,12.873458,0.00,1.2400,3.140,7.0300,100.00
2011_return_category,25000.0,-1.947001,5.471763,-35.50,-2.4600,-2.060,-0.7500,32.90
ytd_return_fund,25000.0,9.292222,5.784468,-36.30,4.4800,9.820,13.0600,46.29
years_down,25000.0,3.226600,2.246013,1.00,2.0000,3.000,4.0000,28.00
2014_return_fund,25000.0,5.126606,6.265633,-42.40,3.3200,5.200,7.0500,63.80
category_return_1month,25000.0,0.871965,1.203430,-3.49,0.4600,1.110,1.3800,9.68
2013_return_fund,25000.0,17.641042,13.906517,-67.62,9.6475,18.590,24.8700,116.38
fund_return_3months,25000.0,9.171462,5.776724,-36.30,4.2000,9.720,13.0000,46.29
ytd_return_category,25000.0,9.173618,4.988696,-17.38,5.0200,10.240,12.9400,20.95
2017_category_return,25000.0,14.837798,9.368967,-27.04,6.4700,14.670,21.5000,46.78
1_year_return_fund,25000.0,2.608446,6.678730,-37.09,-0.0300,3.100,5.1000,59.19
2015_return_fund,25000.0,-1.775855,5.599065,-62.11,-2.7100,-1.160,0.2900,86.62
portfolio_convertable,25000.0,0.568369,4.816418,0.00,0.0000,0.000,0.0700,98.86
3_months_return_category,25000.0,9.173618,4.988696,-17.38,5.0200,10.240,12.9400,20.95
portfolio_others,25000.0,1.050978,4.438214,0.00,0.0000,0.000,0.2800,98.84
2016_return_fund,25000.0,7.135617,7.509494,-62.92,2.9200,6.320,9.6400,80.10
mmc,25000.0,28144.367454,33541.623808,0.00,621.2900,16974.330,42700.8900,363960.31
stock_percent_of_portfolio,25000.0,59.228944,42.183916,0.00,0.5725,82.650,97.5900,100.00
2016_return_category,25000.0,7.154541,6.368881,-21.11,3.2300,6.230,9.2500,54.81
2011_return_fund,25000.0,-0.971932,6.267653,-43.78,-1.4300,-0.520,0.3200,55.81
2010_return_fund,25000.0,13.341716,6.405865,-51.55,12.9400,13.070,13.2025,54.50
fund_return_3years,25000.0,6.998343,5.447884,-36.02,2.8300,6.820,10.1900,38.42
2012_fund_return,25000.0,13.134509,5.529248,-43.90,12.2300,13.490,14.7000,81.66
2018_return_fund,25000.0,-6.653260,6.556915,-59.10,-10.2200,-5.795,-1.8400,39.47
2017_return_fund,25000.0,15.051455,10.597650,-96.22,7.0175,14.130,21.1000,105.73
category_ratio_net_annual_expense,25000.0,1.013535,0.329003,0.39,0.8100,1.020,1.1800,2.60
category_return_2015,25000.0,-2.149361,4.521131,-34.98,-2.5800,-1.690,-0.9500,11.97
1_month_fund_return,25000.0,0.962321,1.690472,-13.63,0.3500,1.100,1.7100,15.29
bond_percentage_of_porfolio,25000.0,30.651527,38.646444,0.00,0.0000,2.170,63.7000,100.00
portfolio_preferred,25000.0,0.311091,2.145970,0.00,0.0000,0.000,0.0100,80.87
2010_return_category,25000.0,13.388135,5.626141,-28.95,13.4900,13.660,13.7400,41.56
2013_category_return,25000.0,17.066316,13.329959,-48.80,7.2300,18.580,25.1900,48.17

In [119]:
other_specs_df.dtypes

2014_category_return                 float64
2012_return_category                 float64
years_up                             float64
2018_return_category                 float64
category_return_1year                float64
cash_percent_of_portfolio            float64
2011_return_category                 float64
ytd_return_fund                      float64
years_down                           float64
2014_return_fund                     float64
category_return_1month               float64
2013_return_fund                     float64
fund_return_3months                  float64
ytd_return_category                  float64
2017_category_return                 float64
1_year_return_fund                   float64
2015_return_fund                     float64
portfolio_convertable                float64
3_months_return_category             float64
portfolio_others                     float64
2016_return_fund                     float64
mmc                                  float64
stock_percent_of_portfolio           float64
2016_return_category                 float64
2011_return_fund                     float64
2010_return_fund                     float64
fund_return_3years                   float64
2012_fund_return                     float64
2018_return_fund                     float64
2017_return_fund                     float64
category_ratio_net_annual_expense    float64
category_return_2015                 float64
1_month_fund_return                  float64
bond_percentage_of_porfolio          float64
portfolio_preferred                  float64
2010_return_category                 float64
2013_category_return                 float64
dtype: object

## return_3year

In [120]:
return_3year_df = pd.read_csv('Hackathon_Files/external/return_3year.csv')
print(return_3year_df.shape)
return_3year_df.tail().transpose()

(25000, 17)

                                      24995  24996   24997   24998   24999
tag                                  142001  40598  202562  144818  219275
3yrs_treynor_ratio_fund                7.25     10    3.06    6.91    4.18
3_years_alpha_fund                    -4.27   2.47   -3.09   -7.15   -2.37
3years_category_std                    0.11   0.11    0.05    0.13    0.12
3yrs_sharpe_ratio_fund                 0.66   0.84    0.47    0.61    0.41
3yrs_treynor_ratio_category            0.09    0.1    0.05    0.08    0.05
3_years_return_mean_annual_fund        0.71   0.79    0.34    1.29    0.51
fund_beta_3years                       0.96   0.81    0.89    1.77    1.02
3years_fund_r_squared                 88.78  77.22   84.14   66.78   82.98
3years_fund_std                       10.88   9.74    5.89   23.32   11.81
category_beta_3years                   0.01   0.01    0.01    0.01    0.01
fund_return_3years                     8.23   9.39       4   13.55    5.54
3_years_alpha_category                -0.02   0.03   -0.01   -0.04       0
3_years_return_mean_annual_category    0.01   0.01       0    0.01    0.01
3yrs_sharpe_ratio_category             0.01   0.01    0.01    0.01    0.01
3years_category_r_squared              0.84   0.73    0.88    0.81    0.81
3_years_return_category               10.01   9.96    5.53    9.67    8.05

In [121]:
#Check for missing values
print(return_3year_df.isna().sum())

#Getting 5-point summary
return_3year_df.describe().transpose()

tag                                       0
3yrs_treynor_ratio_fund                1648
3_years_alpha_fund                     1648
3years_category_std                     106
3yrs_sharpe_ratio_fund                 1648
3yrs_treynor_ratio_category             106
3_years_return_mean_annual_fund        1648
fund_beta_3years                       1648
3years_fund_r_squared                  1648
3years_fund_std                        1648
category_beta_3years                    106
fund_return_3years                      115
3_years_alpha_category                  106
3_years_return_mean_annual_category     106
3yrs_sharpe_ratio_category              106
3years_category_r_squared               106
3_years_return_category                 115
dtype: int64

,count,mean,std,min,25%,50%,75%,max
tag,25000.0,139878.934640,65731.287074,26000.00,83021.75,139881.50,196759.25,253763.00
3_years_alpha_fund,23352.0,-0.577020,3.379822,-36.24,-2.10,-0.59,0.89,19.15
3years_category_std,24894.0,0.088854,0.047886,0.00,0.04,0.09,0.13,0.33
3yrs_sharpe_ratio_fund,23352.0,0.682269,0.462595,-4.39,0.44,0.74,0.97,4.16
3yrs_treynor_ratio_category,24894.0,0.069803,0.068808,-0.76,0.05,0.06,0.10,0.30
3_years_return_mean_annual_fund,23352.0,0.636231,0.436049,-3.19,0.33,0.62,0.89,2.98
fund_beta_3years,23352.0,0.910252,0.637127,-39.66,0.77,0.98,1.14,22.57
3years_fund_r_squared,23352.0,72.558424,27.191213,0.00,64.24,81.91,92.70,100.00
3years_fund_std,23352.0,9.052961,5.126264,0.18,4.30,9.66,12.42,50.49
category_beta_3years,24894.0,0.008782,0.003678,-0.01,0.01,0.01,0.01,0.03
fund_return_3years,24885.0,6.999167,5.460445,-36.02,2.81,6.82,10.21,38.42
3_years_alpha_category,24894.0,-0.004579,0.023468,-0.12,-0.01,-0.01,0.00,0.11
3_years_return_mean_annual_category,24894.0,0.006514,0.005039,-0.02,0.00,0.01,0.01,0.02
3yrs_sharpe_ratio_category,24894.0,0.007155,0.004641,-0.01,0.00,0.01,0.01,0.01
3years_category_r_squared,24894.0,0.716318,0.250938,0.00,0.63,0.81,0.89,0.97
3_years_return_category,24885.0,7.461773,4.443278,-19.79,4.36,7.44,10.01,21.78

In [122]:
return_3year_df = return_3year_df.drop(['tag'], axis = 1)
print(return_3year_df.shape)
return_3year_df.head().transpose()

(25000, 16)

                                         0      1      2      3     4
3yrs_treynor_ratio_fund               2.46   12.2  17.88   7.93   NaN
3_years_alpha_fund                    -7.1   0.07   4.32  -2.73   NaN
3years_category_std                   0.18   0.13   0.13   0.11  0.08
3yrs_sharpe_ratio_fund                0.26   1.06   1.46   0.68   NaN
3yrs_treynor_ratio_category           0.05   0.13   0.13   0.09  0.06
3_years_return_mean_annual_fund       0.45   1.19   1.32   0.58   NaN
fund_beta_3years                       1.2   1.07   0.85    0.7   NaN
3years_fund_r_squared                54.83  88.46  84.41  81.02   NaN
3years_fund_std                      16.25  12.26   9.93   8.36   NaN
category_beta_3years                  0.01   0.01   0.01   0.01  0.01
fund_return_3years                    4.24  14.39  16.42   6.85     0
3_years_alpha_category               -0.04   0.01   0.01  -0.02 -0.01
3_years_return_mean_annual_category   0.01   0.01   0.01   0.01  0.01
3yrs_sharpe_ratio_category               0   0.01   0.01   0.01  0.01
3years_category_r_squared             0.42   0.84   0.84   0.84  0.97
3_years_return_category               7.36  15.35  15.35  10.01  9.13

In [123]:
return_3year_df = return_3year_df.replace({'\"': '', ',': ''}, regex=True).astype(float)

In [124]:
return_3year_df.fillna(return_3year_df.median(), inplace=True)

print(return_3year_df.shape)
return_3year_df.tail().transpose()

(25000, 16)

                                     24995  24996  24997  24998  24999
3yrs_treynor_ratio_fund               7.25  10.00   3.06   6.91   4.18
3_years_alpha_fund                   -4.27   2.47  -3.09  -7.15  -2.37
3years_category_std                   0.11   0.11   0.05   0.13   0.12
3yrs_sharpe_ratio_fund                0.66   0.84   0.47   0.61   0.41
3yrs_treynor_ratio_category           0.09   0.10   0.05   0.08   0.05
3_years_return_mean_annual_fund       0.71   0.79   0.34   1.29   0.51
fund_beta_3years                      0.96   0.81   0.89   1.77   1.02
3years_fund_r_squared                88.78  77.22  84.14  66.78  82.98
3years_fund_std                      10.88   9.74   5.89  23.32  11.81
category_beta_3years                  0.01   0.01   0.01   0.01   0.01
fund_return_3years                    8.23   9.39   4.00  13.55   5.54
3_years_alpha_category               -0.02   0.03  -0.01  -0.04   0.00
3_years_return_mean_annual_category   0.01   0.01   0.00   0.01   0.01
3yrs_sharpe_ratio_category            0.01   0.01   0.01   0.01   0.01
3years_category_r_squared             0.84   0.73   0.88   0.81   0.81
3_years_return_category              10.01   9.96   5.53   9.67   8.05

In [125]:
#Check for missing values
print(return_3year_df.isna().sum())

#Getting 5-point summary
return_3year_df.describe().transpose()

3yrs_treynor_ratio_fund                0
3_years_alpha_fund                     0
3years_category_std                    0
3yrs_sharpe_ratio_fund                 0
3yrs_treynor_ratio_category            0
3_years_return_mean_annual_fund        0
fund_beta_3years                       0
3years_fund_r_squared                  0
3years_fund_std                        0
category_beta_3years                   0
fund_return_3years                     0
3_years_alpha_category                 0
3_years_return_mean_annual_category    0
3yrs_sharpe_ratio_category             0
3years_category_r_squared              0
3_years_return_category                0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
3yrs_treynor_ratio_fund,25000.0,6.818643,36.240453,-4145.82,3.49,6.15,9.45,1786.03
3_years_alpha_fund,25000.0,-0.577876,3.266521,-36.24,-1.94,-0.59,0.70,19.15
3years_category_std,25000.0,0.088859,0.047785,0.00,0.04,0.09,0.13,0.33
3yrs_sharpe_ratio_fund,25000.0,0.686074,0.447317,-4.39,0.46,0.74,0.95,4.16
3yrs_treynor_ratio_category,25000.0,0.069762,0.068665,-0.76,0.05,0.06,0.10,0.30
3_years_return_mean_annual_fund,25000.0,0.635161,0.421451,-3.19,0.36,0.62,0.87,2.98
fund_beta_3years,25000.0,0.914850,0.616011,-39.66,0.79,0.98,1.12,22.57
3years_fund_r_squared,25000.0,73.174880,26.381934,0.00,65.88,81.91,92.10,100.00
3years_fund_std,25000.0,9.092977,4.956704,0.18,4.53,9.66,12.19,50.49
category_beta_3years,25000.0,0.008787,0.003671,-0.01,0.01,0.01,0.01,0.03
fund_return_3years,25000.0,6.998343,5.447884,-36.02,2.83,6.82,10.19,38.42
3_years_alpha_category,25000.0,-0.004602,0.023421,-0.12,-0.01,-0.01,0.00,0.11
3_years_return_mean_annual_category,25000.0,0.006529,0.005033,-0.02,0.00,0.01,0.01,0.02
3yrs_sharpe_ratio_category,25000.0,0.007167,0.004635,-0.01,0.00,0.01,0.01,0.01
3years_category_r_squared,25000.0,0.716716,0.250479,0.00,0.63,0.81,0.89,0.97
3_years_return_category,25000.0,7.461672,4.433047,-19.79,4.36,7.44,10.01,21.78

In [126]:
return_3year_df.dtypes

3yrs_treynor_ratio_fund                float64
3_years_alpha_fund                     float64
3years_category_std                    float64
3yrs_sharpe_ratio_fund                 float64
3yrs_treynor_ratio_category            float64
3_years_return_mean_annual_fund        float64
fund_beta_3years                       float64
3years_fund_r_squared                  float64
3years_fund_std                        float64
category_beta_3years                   float64
fund_return_3years                     float64
3_years_alpha_category                 float64
3_years_return_mean_annual_category    float64
3yrs_sharpe_ratio_category             float64
3years_category_r_squared              float64
3_years_return_category                float64
dtype: object

## return_5year

In [127]:
return_5year_df = pd.read_csv('Hackathon_Files/external/return_5year.csv')
print(return_5year_df.shape)
return_5year_df.tail().transpose()

(25000, 17)

                                      24995  24996   24997   24998   24999
category_r_squared_5years              0.86   0.78    0.89     0.8    0.83
5yrs_sharpe_ratio_fund                 0.37   0.53     NaN    0.37    0.14
5_years_alpha_fund                    -5.74    3.6     NaN   -8.99   -0.56
5years_fund_r_squared                 91.42  82.02     NaN   70.32    79.7
5years_fund_std                       11.34  10.39     NaN   22.94   11.88
5yrs_sharpe_ratio_category             0.01      0    0.01       0       0
5_years_beta_fund                      0.97   0.78     NaN    1.72    0.88
5yrs_treynor_ratio_fund                3.72   6.55     NaN    3.56    1.03
5_years_return_mean_annual_fund        0.41   0.53     NaN    0.78     0.2
5_years_return_mean_annual_category    0.01   0.01       0    0.01       0
5yrs_treynor_ratio_category            0.07   0.06    0.04    0.05    0.03
5_years_return_fund                    4.41   5.94       0    6.92    1.72
5_years_alpha_category                -0.03   0.04   -0.01   -0.04    0.01
5_years_beta_category                  0.01   0.01    0.01    0.01    0.01
5years_category_std                    0.11   0.11    0.06    0.13    0.12
tag                                  142001  40598  202562  144818  219275
5_years_return_category                 7.2   5.89    3.69    6.34    3.86

In [128]:
#Check for missing values
print(return_5year_df.isna().sum())

#Getting 5-point summary
return_5year_df.describe().transpose()

category_r_squared_5years               106
5yrs_sharpe_ratio_fund                 3843
5_years_alpha_fund                     3843
5years_fund_r_squared                  3843
5years_fund_std                        3843
5yrs_sharpe_ratio_category              106
5_years_beta_fund                      3843
5yrs_treynor_ratio_fund                3843
5_years_return_mean_annual_fund        3843
5_years_return_mean_annual_category     106
5yrs_treynor_ratio_category             106
5_years_return_fund                     115
5_years_alpha_category                  106
5_years_beta_category                   106
5years_category_std                     106
tag                                       0
5_years_return_category                 115
dtype: int64

,count,mean,std,min,25%,50%,75%,max
category_r_squared_5years,24894.0,0.712750,0.260112,0.00,0.64,0.83,0.89,0.97
5yrs_sharpe_ratio_fund,21157.0,0.517838,0.362550,-5.14,0.33,0.55,0.73,3.22
5_years_alpha_fund,21157.0,-0.836764,3.301132,-34.57,-2.12,-0.49,0.70,15.05
5years_fund_r_squared,21157.0,72.452818,27.494492,0.00,64.26,82.36,92.52,100.00
5years_fund_std,21157.0,9.457442,5.322416,0.17,4.67,10.34,12.83,56.67
5yrs_sharpe_ratio_category,24894.0,0.005973,0.005035,-0.01,0.00,0.01,0.01,0.01
5_years_beta_fund,21157.0,0.897861,0.642202,-38.85,0.77,0.97,1.10,24.72
5_years_return_mean_annual_fund,21157.0,0.437478,0.341248,-2.96,0.23,0.41,0.63,2.49
5_years_return_mean_annual_category,24894.0,0.003895,0.005069,-0.01,0.00,0.00,0.01,0.01
5yrs_treynor_ratio_category,24894.0,0.040969,0.044379,-0.16,0.02,0.04,0.07,0.32
5_years_return_fund,24885.0,4.115030,4.179389,-32.75,1.23,3.74,6.52,29.29
5_years_alpha_category,24894.0,-0.008121,0.026415,-0.18,-0.02,0.00,-0.00,0.08
5_years_beta_category,24894.0,0.008610,0.004012,-0.02,0.01,0.01,0.01,0.03
5years_category_std,24894.0,0.093149,0.049600,0.00,0.05,0.10,0.13,0.36
tag,25000.0,139878.934640,65731.287074,26000.00,83021.75,139881.50,196759.25,253763.00
5_years_return_category,24885.0,4.757312,3.409379,-17.00,2.61,4.23,6.41,15.26

In [129]:
return_5year_df = return_5year_df.drop(['tag'], axis = 1)
print(return_5year_df.shape)
return_5year_df.tail().transpose()

(25000, 16)

                                     24995  24996 24997  24998  24999
category_r_squared_5years             0.86   0.78  0.89    0.8   0.83
5yrs_sharpe_ratio_fund                0.37   0.53   NaN   0.37   0.14
5_years_alpha_fund                   -5.74    3.6   NaN  -8.99  -0.56
5years_fund_r_squared                91.42  82.02   NaN  70.32   79.7
5years_fund_std                      11.34  10.39   NaN  22.94  11.88
5yrs_sharpe_ratio_category            0.01      0  0.01      0      0
5_years_beta_fund                     0.97   0.78   NaN   1.72   0.88
5yrs_treynor_ratio_fund               3.72   6.55   NaN   3.56   1.03
5_years_return_mean_annual_fund       0.41   0.53   NaN   0.78    0.2
5_years_return_mean_annual_category   0.01   0.01     0   0.01      0
5yrs_treynor_ratio_category           0.07   0.06  0.04   0.05   0.03
5_years_return_fund                   4.41   5.94     0   6.92   1.72
5_years_alpha_category               -0.03   0.04 -0.01  -0.04   0.01
5_years_beta_category                 0.01   0.01  0.01   0.01   0.01
5years_category_std                   0.11   0.11  0.06   0.13   0.12
5_years_return_category                7.2   5.89  3.69   6.34   3.86

In [130]:
return_5year_df = return_5year_df.replace({'\"': '', ',': ''}, regex=True).astype(float)

In [131]:
return_5year_df.fillna(return_5year_df.median(), inplace=True)

print(return_5year_df.shape)
return_5year_df.tail().transpose()

(25000, 16)

                                     24995  24996  24997  24998  24999
category_r_squared_5years             0.86   0.78   0.89   0.80   0.83
5yrs_sharpe_ratio_fund                0.37   0.53   0.55   0.37   0.14
5_years_alpha_fund                   -5.74   3.60  -0.49  -8.99  -0.56
5years_fund_r_squared                91.42  82.02  82.36  70.32  79.70
5years_fund_std                      11.34  10.39  10.34  22.94  11.88
5yrs_sharpe_ratio_category            0.01   0.00   0.01   0.00   0.00
5_years_beta_fund                     0.97   0.78   0.97   1.72   0.88
5yrs_treynor_ratio_fund               3.72   6.55   4.04   3.56   1.03
5_years_return_mean_annual_fund       0.41   0.53   0.41   0.78   0.20
5_years_return_mean_annual_category   0.01   0.01   0.00   0.01   0.00
5yrs_treynor_ratio_category           0.07   0.06   0.04   0.05   0.03
5_years_return_fund                   4.41   5.94   0.00   6.92   1.72
5_years_alpha_category               -0.03   0.04  -0.01  -0.04   0.01
5_years_beta_category                 0.01   0.01   0.01   0.01   0.01
5years_category_std                   0.11   0.11   0.06   0.13   0.12
5_years_return_category               7.20   5.89   3.69   6.34   3.86

In [132]:
#Check for missing values
print(return_5year_df.isna().sum())

#Getting 5-point summary
return_5year_df.describe().transpose()

category_r_squared_5years              0
5yrs_sharpe_ratio_fund                 0
5_years_alpha_fund                     0
5years_fund_r_squared                  0
5years_fund_std                        0
5yrs_sharpe_ratio_category             0
5_years_beta_fund                      0
5yrs_treynor_ratio_fund                0
5_years_return_mean_annual_fund        0
5_years_return_mean_annual_category    0
5yrs_treynor_ratio_category            0
5_years_return_fund                    0
5_years_alpha_category                 0
5_years_beta_category                  0
5years_category_std                    0
5_years_return_category                0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
category_r_squared_5years,25000.0,0.713247,0.259672,0.00,0.6400,0.83,0.89,0.97
5yrs_sharpe_ratio_fund,25000.0,0.522782,0.333723,-5.14,0.3800,0.55,0.69,3.22
5_years_alpha_fund,25000.0,-0.783459,3.039390,-34.57,-1.6900,-0.49,0.41,15.05
5years_fund_r_squared,25000.0,73.975750,25.544224,0.00,68.0500,82.36,91.10,100.00
5years_fund_std,25000.0,9.593109,4.906595,0.17,5.5775,10.34,12.34,56.67
5yrs_sharpe_ratio_category,25000.0,0.005990,0.005031,-0.01,0.0000,0.01,0.01,0.01
5_years_beta_fund,25000.0,0.908950,0.591355,-38.85,0.8400,0.97,1.07,24.72
5yrs_treynor_ratio_fund,25000.0,4.208165,24.286417,-2598.30,2.5200,4.04,6.27,1182.35
5_years_return_mean_annual_fund,25000.0,0.433254,0.314081,-2.96,0.2600,0.41,0.58,2.49
5_years_return_mean_annual_category,25000.0,0.003878,0.005064,-0.01,0.0000,0.00,0.01,0.01
5yrs_treynor_ratio_category,25000.0,0.040965,0.044285,-0.16,0.0200,0.04,0.06,0.32
5_years_return_fund,25000.0,4.113304,4.169842,-32.75,1.2500,3.74,6.50,29.29
5_years_alpha_category,25000.0,-0.008086,0.026364,-0.18,-0.0200,0.00,0.00,0.08
5_years_beta_category,25000.0,0.008616,0.004005,-0.02,0.0100,0.01,0.01,0.03
5years_category_std,25000.0,0.093178,0.049497,0.00,0.0500,0.10,0.13,0.36
5_years_return_category,25000.0,4.754886,3.401715,-17.00,2.6100,4.23,6.41,15.26

## return_10year

In [162]:
return_10year_df = pd.read_csv('Hackathon_Files/external/return_10year.csv')
print(return_10year_df.shape)
return_10year_df.tail().transpose()

(25000, 17)

,24995,24996,24997,24998,24999
10years_category_r_squared,0.9,0.84,0.91,0.85,0.91
10yrs_sharpe_ratio_fund,0.9,0.8,NaN,0.8,0.62
10_years_alpha_fund,-3.02,3.36,NaN,-5.58,0.93
10years_fund_r_squared,91.88,87.68,NaN,72.16,89
10years_fund_std,12.11,13.78,NaN,25.01,15.31
10yrs_sharpe_ratio_category,0.01,0.01,0.01,0.01,0.01
10_years_beta_fund,0.92,0.82,NaN,1.67,0.92
10yrs_treynor_ratio_fund,11.7,12.87,NaN,10.86,9.42
fund_id,c3d73c76-6b0c-4ee4-b562-e9bff53e4c8c,12fc8949-6563-4dd4-a7cc-0400131fa6ab,7fe4b63a-c42e-4c2b-a59b-d29ade57ecfd,65421547-1407-4c50-92dc-e1cb1e9972dd,e0284aeb-630a-4499-8745-2a9abba49528
10_years_return_mean_annual_category,0.01,0.01,0.01,0.01,0.01
10yrs_treynor_ratio_category,0.14,0.14,0.1,0.13,0.1
10_years_return_fund,11.16,10.99,0,18.64,9.09
10_years_alpha_category,-0.02,0.04,0,-0.03,0.02
10_years_beta_category,0.01,0.01,0.01,0.01,0.01
10years_category_std,0.13,0.14,0.07,0.15,0.15
10_years_return_mean_annual_fund,0.95,0.95,NaN,1.69,0.83
10_years_return_category,13.68,11.79,7.87,14.51,9.97

In [163]:
#Check for missing values
print(return_10year_df.isna().sum())

#Getting 5-point summary
return_10year_df.describe().transpose()

10years_category_r_squared               106
10yrs_sharpe_ratio_fund                 8584
10_years_alpha_fund                     8584
10years_fund_r_squared                  8584
10years_fund_std                        8584
10yrs_sharpe_ratio_category              106
10_years_beta_fund                      8584
10yrs_treynor_ratio_fund                8584
fund_id                                    0
10_years_return_mean_annual_category     106
10yrs_treynor_ratio_category             106
10_years_return_fund                     115
10_years_alpha_category                  106
10_years_beta_category                   106
10years_category_std                     106
10_years_return_mean_annual_fund        8584
10_years_return_category                 115
dtype: int64

,count,mean,std,min,25%,50%,75%,max
10years_category_r_squared,24894.0,0.731577,0.273684,0.00,0.71,0.84,0.92,0.97
10yrs_sharpe_ratio_fund,16416.0,0.937495,0.342270,-6.58,0.80,0.96,1.12,3.01
10_years_alpha_fund,16416.0,-0.003148,3.275580,-25.97,-1.74,-0.30,1.28,14.86
10years_fund_r_squared,16416.0,76.602789,25.699176,0.00,72.52,86.08,93.77,100.00
10years_fund_std,16416.0,11.418634,5.937141,0.20,6.14,12.74,15.62,52.29
10yrs_sharpe_ratio_category,24894.0,0.009511,0.002254,-0.01,0.01,0.01,0.01,0.01
10_years_beta_fund,16416.0,0.963222,1.582636,-88.06,0.86,1.01,1.13,49.29
10_years_return_mean_annual_category,24894.0,0.007681,0.004514,-0.02,0.01,0.01,0.01,0.02
10yrs_treynor_ratio_category,24894.0,0.138839,0.442554,-0.19,0.07,0.10,0.14,4.68
10_years_return_fund,24885.0,6.620979,6.537417,-38.56,0.00,5.90,12.38,40.66
10_years_alpha_category,24894.0,0.001136,0.027795,-0.11,-0.02,0.00,0.01,0.10
10_years_beta_category,24894.0,0.009076,0.005493,-0.02,0.01,0.01,0.01,0.12
10years_category_std,24894.0,0.109399,0.055202,0.00,0.06,0.12,0.15,0.34
10_years_return_mean_annual_fund,16416.0,0.858579,0.458993,-3.64,0.53,0.90,1.20,3.28
10_years_return_category,24885.0,9.679289,4.926417,-24.99,6.44,9.97,14.12,18.72

In [164]:
return_10year_df = return_10year_df.drop(['fund_id'], axis = 1)
print(return_10year_df.shape)
return_10year_df.head().transpose()

(25000, 16)

                                         0      1      2      3      4
10years_category_r_squared            0.49   0.88   0.88    0.9   0.97
10yrs_sharpe_ratio_fund                NaN   1.16   1.22    1.2    NaN
10_years_alpha_fund                    NaN   0.16      1   0.75    NaN
10years_fund_r_squared                 NaN  91.68  90.69  89.03    NaN
10years_fund_std                       NaN   14.3  12.68  11.21    NaN
10yrs_sharpe_ratio_category           0.01   0.01   0.01   0.01   0.01
10_years_beta_fund                     NaN   1.08   0.95   0.84    NaN
10yrs_treynor_ratio_fund               NaN  15.57  16.58  16.38    NaN
10_years_return_mean_annual_category  0.01   0.01   0.01   0.01   0.01
10yrs_treynor_ratio_category          0.21   0.15   0.15   0.14   0.08
10_years_return_fund                     0  17.25  16.21  14.12      0
10_years_alpha_category               0.06  -0.01  -0.01  -0.02  -0.02
10_years_beta_category                0.01   0.01   0.01   0.01   0.01
10years_category_std                  0.13   0.14   0.14   0.13   0.12
10_years_return_mean_annual_fund       NaN   1.42   1.33   1.16    NaN
10_years_return_category              14.3  15.94  15.94  13.68  11.53

In [165]:
return_10year_df = return_10year_df.replace({'\"': '', ',': ''}, regex=True).astype(float)

In [166]:
return_10year_df.fillna(return_10year_df.mean(), inplace=True)

print(return_10year_df.shape)
return_10year_df.tail().transpose()

(25000, 16)

                                      24995  24996      24997  24998  24999
10years_category_r_squared             0.90   0.84   0.910000   0.85   0.91
10yrs_sharpe_ratio_fund                0.90   0.80   0.937495   0.80   0.62
10_years_alpha_fund                   -3.02   3.36  -0.003148  -5.58   0.93
10years_fund_r_squared                91.88  87.68  76.602789  72.16  89.00
10years_fund_std                      12.11  13.78  11.418634  25.01  15.31
10yrs_sharpe_ratio_category            0.01   0.01   0.010000   0.01   0.01
10_years_beta_fund                     0.92   0.82   0.963222   1.67   0.92
10yrs_treynor_ratio_fund              11.70  12.87  10.298257  10.86   9.42
10_years_return_mean_annual_category   0.01   0.01   0.010000   0.01   0.01
10yrs_treynor_ratio_category           0.14   0.14   0.100000   0.13   0.10
10_years_return_fund                  11.16  10.99   0.000000  18.64   9.09
10_years_alpha_category               -0.02   0.04   0.000000  -0.03   0.02
10_years_beta_category                 0.01   0.01   0.010000   0.01   0.01
10years_category_std                   0.13   0.14   0.070000   0.15   0.15
10_years_return_mean_annual_fund       0.95   0.95   0.858579   1.69   0.83
10_years_return_category              13.68  11.79   7.870000  14.51   9.97

In [167]:
#Check for missing values
print(return_10year_df.isna().sum())

#Getting 5-point summary
return_10year_df.describe().transpose()

10years_category_r_squared              0
10yrs_sharpe_ratio_fund                 0
10_years_alpha_fund                     0
10years_fund_r_squared                  0
10years_fund_std                        0
10yrs_sharpe_ratio_category             0
10_years_beta_fund                      0
10yrs_treynor_ratio_fund                0
10_years_return_mean_annual_category    0
10yrs_treynor_ratio_category            0
10_years_return_fund                    0
10_years_alpha_category                 0
10_years_beta_category                  0
10years_category_std                    0
10_years_return_mean_annual_fund        0
10_years_return_category                0
dtype: int64

,count,mean,std,min,25%,50%,75%,max
10years_category_r_squared,25000.0,0.731577,0.273103,0.00,0.710000,0.840000,0.9200,0.97
10yrs_sharpe_ratio_fund,25000.0,0.937495,0.277350,-6.58,0.900000,0.937495,1.0300,3.01
10_years_alpha_fund,25000.0,-0.003148,2.654284,-25.97,-0.890000,-0.003148,0.3000,14.86
10years_fund_r_squared,25000.0,76.602789,20.824680,0.00,76.602789,76.602789,90.3400,100.00
10years_fund_std,25000.0,11.418634,4.811012,0.20,9.717500,11.418634,14.0825,52.29
10yrs_sharpe_ratio_category,25000.0,0.009511,0.002249,-0.01,0.010000,0.010000,0.0100,0.01
10_years_beta_fund,25000.0,0.963222,1.282449,-88.06,0.960000,0.963222,1.0600,49.29
10yrs_treynor_ratio_fund,25000.0,10.298257,114.707646,-4448.68,8.450000,10.298257,12.0800,10351.24
10_years_return_mean_annual_category,25000.0,0.007681,0.004504,-0.02,0.010000,0.010000,0.0100,0.02
10yrs_treynor_ratio_category,25000.0,0.138839,0.441614,-0.19,0.070000,0.100000,0.1400,4.68
10_years_return_fund,25000.0,6.620979,6.522363,-38.56,0.000000,5.970000,12.3600,40.66
10_years_alpha_category,25000.0,0.001136,0.027736,-0.11,-0.020000,-0.000000,0.0100,0.10
10_years_beta_category,25000.0,0.009076,0.005481,-0.02,0.010000,0.010000,0.0100,0.12
10years_category_std,25000.0,0.109399,0.055085,0.00,0.060000,0.120000,0.1500,0.34
10_years_return_mean_annual_fund,25000.0,0.858579,0.371934,-3.64,0.750000,0.858579,1.0600,3.28
10_years_return_category,25000.0,9.679289,4.915073,-24.99,6.440000,9.970000,14.1200,18.72

In [168]:
return_10year_df.dtypes

10years_category_r_squared              float64
10yrs_sharpe_ratio_fund                 float64
10_years_alpha_fund                     float64
10years_fund_r_squared                  float64
10years_fund_std                        float64
10yrs_sharpe_ratio_category             float64
10_years_beta_fund                      float64
10yrs_treynor_ratio_fund                float64
10_years_return_mean_annual_category    float64
10yrs_treynor_ratio_category            float64
10_years_return_fund                    float64
10_years_alpha_category                 float64
10_years_beta_category                  float64
10years_category_std                    float64
10_years_return_mean_annual_fund        float64
10_years_return_category                float64
dtype: object

## Merge column-wise into single dataframe

In [191]:
gsr_df = pd.concat([bond_ratings_df,fund_allocations_df,fund_ratios_df,fund_specs_df,other_specs_df,
                    return_3year_df,return_5year_df,return_10year_df],axis=1)

In [192]:
print(gsr_df.shape)
gsr_df.tail()
#.transpose()

(25000, 113)

,bb_rating,below_b_rating,others_rating,b_rating,a_rating,aaa_rating,aa_rating,bbb_rating,portfolio_communication_allocation,portfolio_financial_services,...,10_years_beta_fund,10yrs_treynor_ratio_fund,10_years_return_mean_annual_category,10yrs_treynor_ratio_category,10_years_return_fund,10_years_alpha_category,10_years_beta_category,10years_category_std,10_years_return_mean_annual_fund,10_years_return_category
24995,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,6.53,21.00,...,0.920000,11.700000,0.01,0.14,11.16,-0.02,0.01,0.13,0.950000,13.68
24996,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,3.70,18.83,...,0.820000,12.870000,0.01,0.14,10.99,0.04,0.01,0.14,0.950000,11.79
24997,24.65,2.81,4.0,40.22,3.42,11.7,0.42,12.78,1.17,8.71,...,0.963222,10.298257,0.01,0.10,0.00,0.00,0.01,0.07,0.858579,7.87
24998,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,2.21,19.92,...,1.670000,10.860000,0.01,0.13,18.64,-0.03,0.01,0.15,1.690000,14.51
24999,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.04,20.62,...,0.920000,9.420000,0.01,0.10,9.09,0.02,0.01,0.15,0.830000,9.97

In [193]:
# remove duplicate columns
gsr_df = gsr_df.loc[:,~gsr_df.columns.duplicated()]

gsr_df.astype(float)

,bb_rating,below_b_rating,others_rating,b_rating,a_rating,aaa_rating,aa_rating,bbb_rating,portfolio_communication_allocation,portfolio_financial_services,...,10_years_beta_fund,10yrs_treynor_ratio_fund,10_years_return_mean_annual_category,10yrs_treynor_ratio_category,10_years_return_fund,10_years_alpha_category,10_years_beta_category,10years_category_std,10_years_return_mean_annual_fund,10_years_return_category
0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,...,0.963222,10.298257,0.01,0.21,0.00,0.06,0.01,0.13,0.858579,14.30
1,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.78,9.77,...,1.080000,15.570000,0.01,0.15,17.25,-0.01,0.01,0.14,1.420000,15.94
2,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,4.70,16.40,...,0.950000,16.580000,0.01,0.15,16.21,-0.01,0.01,0.14,1.330000,15.94
3,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,6.53,13.80,...,0.840000,16.380000,0.01,0.14,14.12,-0.02,0.01,0.13,1.160000,13.68
4,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,3.49,13.95,...,0.963222,10.298257,0.01,0.08,0.00,-0.02,0.01,0.12,0.858579,11.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,6.53,21.00,...,0.920000,11.700000,0.01,0.14,11.16,-0.02,0.01,0.13,0.950000,13.68
24996,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,3.70,18.83,...,0.820000,12.870000,0.01,0.14,10.99,0.04,0.01,0.14,0.950000,11.79
24997,24.65,2.81,4.0,40.22,3.42,11.7,0.42,12.78,1.17,8.71,...,0.963222,10.298257,0.01,0.10,0.00,0.00,0.01,0.07,0.858579,7.87
24998,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,2.21,19.92,...,1.670000,10.860000,0.01,0.13,18.64,-0.03,0.01,0.15,1.690000,14.51
24999,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.04,20.62,...,0.920000,9.420000,0.01,0.10,9.09,0.02,0.01,0.15,0.830000,9.97

In [194]:
#Apply z-score
gsr_df = gsr_df.apply(zscore)

gsr_df.tail()

,bb_rating,below_b_rating,others_rating,b_rating,a_rating,aaa_rating,aa_rating,bbb_rating,portfolio_communication_allocation,portfolio_financial_services,...,10_years_beta_fund,10yrs_treynor_ratio_fund,10_years_return_mean_annual_category,10yrs_treynor_ratio_category,10_years_return_fund,10_years_alpha_category,10_years_beta_category,10years_category_std,10_years_return_mean_annual_fund,10_years_return_category
24995,-0.417430,-0.305730,-0.241501,-0.350779,-0.544125,-0.566166,-0.376030,-0.576313,0.969877,0.746915,...,-3.370327e-02,1.222038e-02,0.514846,0.002630,0.695931,-0.762043,0.168641,0.374000,2.458045e-01,0.813984
24996,-0.417430,-0.305730,-0.241501,-0.350779,-0.544125,-0.566166,-0.376030,-0.576313,0.325979,0.569894,...,-1.116807e-01,2.242043e-02,0.514846,0.002630,0.669866,1.401252,0.168641,0.555541,2.458045e-01,0.429445
24997,2.558207,0.737183,0.340721,4.031166,-0.174265,-0.109074,-0.338336,0.631442,-0.249662,-0.255658,...,-1.298584e-15,-1.703489e-16,0.514846,-0.087949,-1.015140,-0.040945,0.168641,-0.715249,1.791037e-15,-0.368118
24998,-0.417430,-0.305730,-0.241501,-0.350779,-0.544125,-0.566166,-0.376030,-0.576313,-0.013035,0.658812,...,5.511271e-01,4.897268e-03,0.514846,-0.020015,1.842777,-1.122592,0.168641,0.737083,2.235446e+00,0.982856
24999,-0.417430,-0.305730,-0.241501,-0.350779,-0.544125,-0.566166,-0.376030,-0.576313,-0.506766,0.715916,...,-3.370327e-02,-7.656637e-03,0.514846,-0.087949,0.378555,0.680154,0.168641,0.737083,-7.684001e-02,0.059148

In [195]:
#Check for missing values
print(gsr_df.isna().sum())

#Getting 5-point summary
gsr_df.describe()

bb_rating                           0
below_b_rating                      0
others_rating                       0
b_rating                            0
a_rating                            0
                                   ..
10_years_alpha_category             0
10_years_beta_category              0
10years_category_std                0
10_years_return_mean_annual_fund    0
10_years_return_category            0
Length: 111, dtype: int64

,bb_rating,below_b_rating,others_rating,b_rating,a_rating,aaa_rating,aa_rating,bbb_rating,portfolio_communication_allocation,portfolio_financial_services,...,10_years_beta_fund,10yrs_treynor_ratio_fund,10_years_return_mean_annual_category,10yrs_treynor_ratio_category,10_years_return_fund,10_years_alpha_category,10_years_beta_category,10years_category_std,10_years_return_mean_annual_fund,10_years_return_category
count,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,...,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04,2.500000e+04
mean,2.715455e-15,3.673950e-17,-4.747136e-16,-1.716129e-15,-1.363389e-15,2.398259e-16,8.559375e-17,1.278622e-16,-7.912337e-16,7.257439e-16,...,4.094278e-16,3.851221e-17,1.879741e-16,-6.597944e-17,-1.559575e-16,6.979883e-16,3.185008e-16,6.498801e-17,-3.952533e-16,-1.820213e-16
std,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,...,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00,1.000020e+00
min,-4.174296e-01,-3.131525e-01,-1.016986e+01,-3.638528e-01,-5.441246e-01,-6.892291e-01,-3.930818e-01,-5.763134e-01,-5.158671e-01,-9.661871e-01,...,-6.941798e+01,-3.887332e+01,-6.145428e+00,-7.446435e-01,-6.927226e+00,-4.006986e+00,-5.304822e+00,-1.986039e+00,-1.209535e+01,-7.053808e+00
25%,-4.174296e-01,-3.057296e-01,-2.415014e-01,-3.507789e-01,-5.441246e-01,-5.661659e-01,-3.760299e-01,-5.763134e-01,-5.158671e-01,-9.661871e-01,...,-2.512319e-03,-1.611309e-02,5.148465e-01,-1.558827e-01,-1.015140e+00,-7.620430e-01,1.686409e-01,-8.967905e-01,-2.919364e-01,-6.590653e-01
50%,-4.174296e-01,-3.057296e-01,-2.415014e-01,-3.507789e-01,-5.441246e-01,-5.661659e-01,-3.760299e-01,-5.763134e-01,-2.473864e-01,1.040936e-01,...,-1.298584e-15,-1.703489e-16,5.148465e-01,-8.794880e-02,-9.980921e-02,-4.094451e-02,1.686409e-01,1.924585e-01,1.791037e-15,5.914799e-02
75%,-1.252982e-01,-2.686153e-01,-1.949236e-01,-2.745143e-01,3.510541e-01,1.534608e-01,-1.076858e-01,4.953571e-01,2.577212e-01,4.940283e-01,...,7.546506e-02,1.553321e-02,5.148465e-01,2.629777e-03,8.799166e-01,3.196047e-01,1.686409e-01,7.370830e-01,5.415620e-01,9.035064e-01
max,9.296544e+00,1.539363e+01,1.431407e+01,8.439258e+00,7.336476e+00,4.069215e+00,7.720960e+00,8.685036e+00,2.223673e+01,7.191441e+00,...,3.768396e+01,9.015222e+01,2.734938e+00,1.028330e+01,5.218922e+00,3.564548e+00,2.023801e+01,4.186371e+00,6.510486e+00,1.839422e+00

In [196]:
# Append previously saved columns
gsr_df['fund_id'] = fund_id
gsr_df['greatstone_rating'] = greatstone_rating

In [197]:
#Check for missing values
print(gsr_df.isna().sum())

#Getting 5-point summary
gsr_df.describe().transpose()

bb_rating                              0
below_b_rating                         0
others_rating                          0
b_rating                               0
a_rating                               0
                                    ...
10years_category_std                   0
10_years_return_mean_annual_fund       0
10_years_return_category               0
fund_id                                0
greatstone_rating                   5000
Length: 113, dtype: int64

,count,mean,std,min,25%,50%,75%,max
bb_rating,25000.0,2.715455e-15,1.000020,-0.417430,-0.417430,-4.174296e-01,-0.125298,9.296544
below_b_rating,25000.0,3.673950e-17,1.000020,-0.313152,-0.305730,-3.057296e-01,-0.268615,15.393625
others_rating,25000.0,-4.747136e-16,1.000020,-10.169856,-0.241501,-2.415014e-01,-0.194924,14.314070
b_rating,25000.0,-1.716129e-15,1.000020,-0.363853,-0.350779,-3.507789e-01,-0.274514,8.439258
a_rating,25000.0,-1.363389e-15,1.000020,-0.544125,-0.544125,-5.441246e-01,0.351054,7.336476
...,...,...,...,...,...,...,...,...
10_years_beta_category,25000.0,3.185008e-16,1.000020,-5.304822,0.168641,1.686409e-01,0.168641,20.238006
10years_category_std,25000.0,6.498801e-17,1.000020,-1.986039,-0.896790,1.924585e-01,0.737083,4.186371
10_years_return_mean_annual_fund,25000.0,-3.952533e-16,1.000020,-12.095348,-0.291936,1.791037e-15,0.541562,6.510486
10_years_return_category,25000.0,-1.820213e-16,1.000020,-7.053808,-0.659065,5.914799e-02,0.903506,1.839422
greatstone_rating,20000.0,2.839750e+00,1.277439,0.000000,2.000000,3.000000e+00,4.000000,5.000000

## Divide Train and Test Data

## Train Set -> Rows where greatstone_rating is not null

In [198]:
train_df = gsr_df[gsr_df['greatstone_rating'].notna()]
print(train_df.shape)
train_df.head()
#.transpose()

(20000, 113)

,bb_rating,below_b_rating,others_rating,b_rating,a_rating,aaa_rating,aa_rating,bbb_rating,portfolio_communication_allocation,portfolio_financial_services,...,10_years_return_mean_annual_category,10yrs_treynor_ratio_category,10_years_return_fund,10_years_alpha_category,10_years_beta_category,10years_category_std,10_years_return_mean_annual_fund,10_years_return_category,fund_id,greatstone_rating
1,-0.41743,-0.30573,-0.241501,-0.350779,-0.544125,-0.566166,-0.37603,-0.576313,-0.338397,-0.169187,...,0.514846,0.025274,1.629660,-0.401494,0.168641,0.555541,1.509496e+00,1.273803,f5ad58c2-fdea-4087-8678-e04744f89f90,3.0
2,-0.41743,-0.30573,-0.241501,-0.350779,-0.544125,-0.566166,-0.37603,-0.576313,0.553505,0.371664,...,0.514846,0.025274,1.470205,-0.401494,0.168641,0.555541,1.267512e+00,1.273803,3c13f4ab-02c4-4ca7-a133-7e996ec5d0c4,4.0
3,-0.41743,-0.30573,-0.241501,-0.350779,-0.544125,-0.566166,-0.37603,-0.576313,0.969877,0.159566,...,0.514846,0.002630,1.149763,-0.762043,0.168641,0.374000,8.104324e-01,0.813984,ff78bdd8-59eb-4cef-9f3c-b1baacce9554,3.0
4,-0.41743,-0.30573,-0.241501,-0.350779,-0.544125,-0.566166,-0.37603,-0.576313,0.278199,0.171802,...,0.514846,-0.133238,-1.015140,-0.762043,0.168641,0.192458,1.791037e-15,0.376545,63d8406d-c525-494a-8e03-d4fc4cfcb571,0.0
5,-0.41743,-0.30573,-0.241501,-0.350779,-0.544125,-0.566166,-0.37603,-0.576313,-0.515867,0.192196,...,0.514846,-0.110593,0.636135,-0.040945,0.168641,-0.170624,1.382563e-01,0.282954,090afb4d-eca3-4f69-8275-a140a0b40292,3.0

In [199]:
X_train = train_df.drop(['fund_id','greatstone_rating'], axis=1)
y_train = train_df['greatstone_rating'].astype(int)

In [200]:
X_train.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
bb_rating,20000.0,-0.003604,0.990759,-0.417430,-0.417430,-4.174296e-01,-0.126505,9.296544
below_b_rating,20000.0,-0.001561,0.994215,-0.313152,-0.305730,-3.057296e-01,-0.268615,15.393625
others_rating,20000.0,0.003938,1.006074,-7.453787,-0.241501,-2.415014e-01,-0.192012,14.314070
b_rating,20000.0,-0.003870,0.991904,-0.363853,-0.350779,-3.507789e-01,-0.276693,8.439258
a_rating,20000.0,0.003649,1.004334,-0.544125,-0.544125,-5.441246e-01,0.358895,7.336476
...,...,...,...,...,...,...,...,...
10_years_alpha_category,20000.0,-0.006092,0.998545,-4.006986,-0.762043,-4.094451e-02,0.319605,3.564548
10_years_beta_category,20000.0,-0.001728,0.986287,-5.304822,0.168641,1.686409e-01,0.168641,20.238006
10years_category_std,20000.0,-0.002280,1.000040,-1.986039,-0.896790,1.924585e-01,0.737083,4.186371
10_years_return_mean_annual_fund,20000.0,-0.003471,1.006297,-12.095348,-0.291936,1.791037e-15,0.541562,6.510486
10_years_return_category,20000.0,-0.004427,1.005038,-7.053808,-0.659065,5.914799e-02,0.903506,1.839422

## Test Set -> Rows where greatstone_rating is null

In [201]:
test_df = gsr_df[gsr_df['greatstone_rating'].isna()]
print(test_df.shape)
test_df.head()
#.transpose()

(5000, 113)

,bb_rating,below_b_rating,others_rating,b_rating,a_rating,aaa_rating,aa_rating,bbb_rating,portfolio_communication_allocation,portfolio_financial_services,...,10_years_return_mean_annual_category,10yrs_treynor_ratio_category,10_years_return_fund,10_years_alpha_category,10_years_beta_category,10years_category_std,10_years_return_mean_annual_fund,10_years_return_category,fund_id,greatstone_rating
0,-0.417430,-0.30573,-0.241501,-0.350779,-0.544125,-0.566166,-0.376030,-0.576313,-0.515867,-0.966187,...,0.514846,0.161142,-1.015140,2.122351,0.168641,0.374000,1.791037e-15,0.940129,264614c6-5ac3-4146-ba26-1674b136cb40,NaN
7,-0.417430,-0.30573,-0.241501,-0.350779,-0.544125,-0.566166,-0.376030,-0.576313,0.451118,0.911699,...,0.514846,0.002630,-1.015140,-0.762043,0.168641,0.374000,1.791037e-15,0.813984,08702e4f-c5bb-4f0a-b63b-f9e4a0eb2425,NaN
16,-0.417430,-0.30573,-0.241501,-0.350779,-0.544125,-0.566166,-0.376030,-0.576313,0.239519,0.374927,...,0.514846,-0.020015,1.410410,-0.762043,0.168641,1.281707,1.294399e+00,1.334841,cf56db43-046b-49d0-b8f0-90fe9cf8aacf,NaN
24,0.225984,-0.30573,-0.235679,-0.244009,3.261534,-0.457167,0.142709,4.138469,0.182638,0.271325,...,0.514846,-0.133238,-1.015140,-0.762043,0.168641,0.192458,1.791037e-15,0.476241,3faa81fc-9640-43d0-8b68-e5b06c65bfe6,NaN
28,-0.320857,-0.30573,3.077169,-0.252724,2.375818,-0.284879,1.607383,1.238155,-0.515867,-0.966187,...,-1.705245,-0.223817,-0.805089,-0.040945,-1.655847,-1.804498,-2.012707e+00,-1.619396,09e24f3d-7191-4207-887c-98f31c6b59d2,NaN

In [202]:
X_test = test_df.drop(['fund_id','greatstone_rating'], axis=1)
y_test = test_df['greatstone_rating']

In [203]:
X_test.describe()

,bb_rating,below_b_rating,others_rating,b_rating,a_rating,aaa_rating,aa_rating,bbb_rating,portfolio_communication_allocation,portfolio_financial_services,...,10_years_beta_fund,10yrs_treynor_ratio_fund,10_years_return_mean_annual_category,10yrs_treynor_ratio_category,10_years_return_fund,10_years_alpha_category,10_years_beta_category,10years_category_std,10_years_return_mean_annual_fund,10_years_return_category
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,...,5.000000e+03,5.000000e+03,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03,5000.000000
mean,0.014415,0.006244,-0.015753,0.015478,-0.014594,0.009305,-0.011663,0.000433,0.009874,0.016990,...,-3.390286e-03,4.232409e-03,0.015963,0.020294,0.012950,0.024367,0.006912,0.009122,1.388364e-02,0.017709
std,1.036215,1.022988,0.975369,1.031804,0.982537,1.012804,0.977028,0.999495,1.007728,1.045457,...,8.497154e-01,9.939536e-01,0.981374,1.080509,0.994015,1.005629,1.053237,0.999989,9.744832e-01,0.979588
min,-0.417430,-0.305730,-10.169856,-0.350779,-0.544125,-0.600155,-0.393082,-0.576313,-0.515867,-0.966187,...,-3.877287e+01,-2.810146e+01,-6.145428,-0.744643,-6.375267,-4.006986,-5.304822,-1.986039,-1.048213e+01,-7.053808
25%,-0.417430,-0.305730,-0.241501,-0.350779,-0.544125,-0.566166,-0.376030,-0.576313,-0.515867,-0.966187,...,-1.031006e-02,-1.602591e-02,0.514846,-0.155883,-1.015140,-0.762043,0.168641,-0.715249,-2.650493e-01,-0.622443
50%,-0.417430,-0.305730,-0.241501,-0.350779,-0.544125,-0.566166,-0.376030,-0.576313,-0.231460,0.102870,...,-1.298584e-15,-1.703489e-16,0.514846,-0.087949,-0.059179,-0.040945,0.168641,0.192458,1.791037e-15,0.059148
75%,-0.116848,-0.268615,-0.201838,-0.267977,0.320233,0.187840,-0.112846,0.484489,0.262272,0.495660,...,7.546506e-02,1.614347e-02,0.514846,0.002630,0.882983,0.319605,0.168641,0.918624,5.415620e-01,0.903506
max,8.329613,15.393625,14.314070,8.439258,6.662726,3.342946,7.720960,5.908521,22.236729,7.191441,...,3.768396e+01,5.031528e+01,2.734938,10.283298,4.573437,3.564548,20.238006,4.186371,5.811422e+00,1.839422

## SVC - Train and Predict

In [204]:
#Train and Predict using SVM
from sklearn.svm import SVC

svc = SVC(kernel='rbf', C=10, gamma=1000)
#SVC(gamma='auto')
svc.fit(X_train, y_train)

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=1000, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [205]:
# predict the response
y_pred = svc.predict(X_test)

In [206]:
y_pred

array([3, 3, 3, ..., 3, 3, 3])

## Export

In [207]:
y_pred = y_pred.astype(int)

In [208]:
print(y_pred)

[3 3 3 ... 3 3 3]

In [209]:
output_data = {'fund_id':test_df['fund_id'],'greatstone_rating':y_pred}

In [210]:
output_df = pd.DataFrame(output_data)

In [211]:
print(output_df.groupby('greatstone_rating').size())

greatstone_rating
0      22
1       1
2      15
3    4940
4      17
5       5
dtype: int64

In [212]:
output_df.to_csv('Hackathon_Files/external/submission.csv', sep=',',encoding='utf-8', index=False)